.title_text {
    font-size: 1.4em;
}

.content {
    font-size: 1.4em;
}

.links {
    margin-right: 0.5rem;
    color: #ffffff;
    font-size: 1.3em;
}

.links:hover {
    color: #cacaca;
}

.title:hover {
    transform: scale(1.015, 1.015);
}

.projects {
    color: #cacaca;
    margin: 2.5rem 0 2.5rem 0;
}

.experience {
    color: #cacaca;
    margin: 2.5rem 0 2.5rem 0;
}

.context {
    font-style: italic;
}



