* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #2a2a2a;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.home {
    float: left;
    text-align: center;
    margin: 12px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 25px;
    color: #cacaca;
}

.home:hover {
    color: #ffffff;
    transform: scale(1.1, 1.1);
}

.link {
    float: left;
    text-align: center;
    margin: 12px;
    font-size: 1em;
    line-height: 25px;
    cursor: pointer;
    color: #cacaca;
}

.link:hover {
    color: #ffffff;
    transform: scale(1.1, 1.1);
}

.sections {
    margin: auto 20rem auto 20rem;
    font-size: 1.2em;
    word-wrap: normal;
}

@media only screen and (max-width: 1500px) {
    .sections {
      margin-left: 10rem;
      margin-right: 10rem;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .sections {
      margin-left: 8rem;
      margin-right: 8rem;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .sections {
      margin-left: 4rem;
      margin-right: 4rem;
    }
  }