.intro {
    margin: 5rem 0 2.5rem 0;
    color: #cacaca
}

.hello {
    font-size: 3em;
}

.link_icon {
    color: #cacaca;
    margin-right: 1rem;
    font-size: 2em;
}

.link_icon:hover {
    color: #ffffff;
}